$rootUnit: 16px !default;
$breakpoint: 768px;

@function removeUnit($value){
    @return ($value / ($value * 0 + 1));
 } //단위삭제

@function rem($value, $base:$rootUnit){
    @return removeUnit($value / $base) * 1rem;
}  //px을 rem 으로 변경

@function em($value, $base:$rootUnit){
    @return removeUnit($value / $base) * 1em;
}  // px를  em 으로 변경

//믹스인
@mixin clearfix{
    &::after{
        content:"" ;
        display: none;
        clear: both;
    }
}
    
@mixin autoMargin ($margininX: auto){
    margin-left: $margininX;
    margin-right: $margininX;
}

@mixin boxFull($width: 100vw){
    width: $width;
    position: relative;
    left: 50%;
    margin-right: -$width / 2;
}

@mixin boxFixed($width: 460px, $paddingX: 0) {
    width: $width;
    padding-left: $paddingX;
    padding-right: $paddingX;   
    @include autoMargin;
    @content; 
}

@mixin sm {
    @media screen and (max-width: $breakpoint - 1) {
        @content;
    }    
}
@mixin md {
    @media screen and (min-width: $breakpoint) {
        @content;
    }    
}
@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin a11y{                 //화면에는 보이지 않으나 스크린리더는 읽음
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    visibility: hidden;
    clip: (0,0,0,0);
    clip-path: inset(50%); 
}

@mixin customOutline {         //  마우스에서는 아웃라인 생기지 않으나 키보드에서는 아웃라인 생성
    box-shadow: 0 0 0 2px $outline;
    border-radius: 2px;
}