$blue: #24488d;
$green: #03cf5d;
$red: #ff1414;
$white: #fff;
$silver: #999;
$silverLight:#dadada;
$silverDark: #666;
$blackDark: #333;
$blackAlpha10: rgba(#000, 0.1);

$default: $white;
$primary: $green;
$secondary: $silver;
$text: $blackDark;
$warning: $red;
$Alpah:$blackAlpha10;
$warning: $red;
$outline: $blue;